NODE_ENV=development
PORT=4000

DATABASE_URL="postgresql://postgres:password@localhost:5432/ds_lol_dev"

JWT_SECRET=여기에_긴_랜덤_문자열
JWT_EXPIRES_IN=7d

GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxx

RIOT_API_KEY=RGAPI-xxxxxxxx
RIOT_REGION=kr

CORS_ORIGIN=http://localhost:5173
